@import "tailwindcss";


body{
    background-color: #121212;
    color: #fff;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button{
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* grey thumb like YouTube */
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* darker on hover */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}